    <!-- Page Content -->
    <div class="container" ng-controller="PriceController" xmlns="http://www.w3.org/1999/html">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Booking
        <small style="font-size: 18px">Pricing Tariffs</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Booking</li>
      </ol>


      <!-- Content Row -->
      <div style="text-align: center;" class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Adult</h3>
            <div class="card-body">
              <div class="display-4">£15.00</div>
              <div class="font-italic">per person</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ages: 18+</li>
              <li class="list-group-item">
                <select  id="adultSeatSelector" ng-model="data.adultSeatSelector">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                </select>

              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card card-outline-primary h-100">
            <h3 class="card-header bg-primary text-white">Student</h3>
            <div class="card-body">
              <div class="display-4">£10.00</div>
              <div class="font-italic">per person</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">*Valid student card required</li>
              <li class="list-group-item">

                 <select id="studentSeatSelector" ng-model="data.studentSeatSelector">
                   <option value=0>0</option>
                   <option value=1>1</option>
                   <option value=2>2</option>
                   <option value=3>3</option>
                   <option value=4>4</option>
                   <option value=5>5</option>
                   <option value=6>6</option>
                   <option value=7>7</option>
                   <option value=8>8</option>
                   <option value=9>9</option>
                   <option value=10>10</option>
                 </select>
                </select>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Child</h3>
            <div class="card-body">
              <div class="display-4">£5.00</div>
              <div class="font-italic">per person</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ages: 1-14</li>
              <li class="list-group-item">
                <select id="childSeatSelector" ng-model="data.childSeatSelector">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                </select>
                </select>


              </li>
            </ul>
          </div>
        </div>
      </div>
<br><br>
      <h3 style="text-align: center">Summary</h3>
      <p style="text-align: center">_______________________________</p>
      <br><br>



      <div style="text-align: center">
            <p>Number of Adult tickets Selected: {{data.adultSeatSelector}}
               </p>
            <p>Number of Students tickets Selected: {{data.studentSeatSelector}}
               </p>
            <p>Number of Child tickets Selected: {{data.childSeatSelector }}
               </p>
        <p>
       <!-- <div class="btn"> <button data-ng-click=getTotal()>Total Ticket</button></div>
             <div class="btn"  data-ng-click=getTotalPrice()></div>-->

       <!-- <p> Total Tickets: {{getTotal()}} </p>
        <p> Total Price: {{getTotalPrice()}} </p>-->
          <!--{{data.adultSeatSelector}+{data.studentSeatSelector}-->
          <!--  total Tickets: {{data.adultSeatSelector + data.studentSeatSelector + data.childSeatSelector}}-->
             <!--total Price: {{data.adultSeatSelector +15.00 +data.studentSeatSelector*10.00 +data.childSeatSelector*5.00}}-->
          <script>
              /*getTotal = function() {
                  var total =  ass+sst+css;
                  var ass = data.adultSeatSelector;
                  var sst =data.studentSeatSelector;
                  var css= data.childSeatSelector;
                  return total;
              }

              getTotalPrice = function() {
                  var final = sum1+ sum2+sum3;
                  var sum1 = data.adultSeatSelector*15.00;
                  var sum2 = data.studentSeatSelector*10.00;
                  var sum3 = data.childSeatSelector*5.00;

              return final;
              }
*/
          </script>
        </p>
      </div>


      <br><br>

      <p style="text-align: center">________________________________________________________________</p>


      <div ng-init="myVar = 'src/main/webapp/app/feature/price/SeatPreview/seating.html'">
        <button class="btn btn-primary"><a ng-href="{{myVar}}">Select Seats</a></button>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->

    <br><br><br><br>
    <div style="text-align: right;" class="container">
      <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="FYFL8TCELA676">
        <input type="image" src="https://www.sandbox.paypal.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>    </div>
    <br><br>