    <!-- Page Content -->
    <div class="container" ng-controller="PriceController as film" xmlns="http://www.w3.org/1999/html">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Booking
        <small style="font-size: 18px">Pricing Tariffs</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Booking</li>
      </ol>
      
      <div class="container">
            <div class="row">
 <!--Image, title and description here-->
                <!-- Heading Row -->
                <h1> {{film.filmDat['name']}} </h1>
				<div class="card text-white bg-secondary my-4 text-left">
       			<div class="card-body left">   
                <div class="row my-8">
                    <div class="col-lg-8">
                        <img class="img-fluid rounded" src="{{film.filmDat['img']}}" alt="" >
                    </div>
<!--side bar here-->
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-4 mb-4">
                        <h3>Showing details</h3>
                        <br>
                        <b>Release date: </b>
                        <p>{{film.filmDat['releasedate']}}</p>
                        <p>
                            <abbr><b>Run time</b>:</abbr>
                            {{film.filmDat['runtime']}}
                        </p>
                        <p>
                            <abbr><b>Age rating:</b></abbr>
                            {{film.filmDat['age']}}
                        </p>
                        <p>
                            <abbr><b>Director: </b></abbr>
                            <a>{{film.filmDat['director']}}
                            </a>
                        </p>
                        <p>
                            <abbr><b>Cast:</b> {{film.castList}}</abbr>
                        </p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- End of film descriptor-->
        <br>
        <h3 style="text-align: center">Tickets</h3>
      	<p style="text-align: center">_______________________________</p>

      <!-- Content Row -->
      <div style="text-align: center;" class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Adult</h3>
            <div class="card-body">
              <div class="display-4">£15.00</div>
              <div class="font-italic">per person</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ages: 18+</li>
              <li class="list-group-item">
                <select  id="adultSeatSelector" ng-model="data.adultSeatSelector" ng-init="data.adultSeatSelector = 0">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                </select>

              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card card-outline-primary h-100">
            <h3 class="card-header bg-primary text-white" style="border-bottom:none">Student</h3>
            <div class="card-body">
              <div class="display-4">£10.00</div>
              <div class="font-italic">per person</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">*Valid student card required</li>
              <li class="list-group-item">

                 <select id="studentSeatSelector" ng-model="data.studentSeatSelector" ng-init="data.studentSeatSelector = 0">
                   <option value=0>0</option>
                   <option value=1>1</option>
                   <option value=2>2</option>
                   <option value=3>3</option>
                   <option value=4>4</option>
                   <option value=5>5</option>
                   <option value=6>6</option>
                   <option value=7>7</option>
                   <option value=8>8</option>
                   <option value=9>9</option>
                   <option value=10>10</option>
                 </select>
                </select>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Child</h3>
            <div class="card-body">
              <div class="display-4">£5.00</div>
              <div class="font-italic">per person</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ages: 1-14</li>
              <li class="list-group-item">
                <select id="childSeatSelector" ng-model="data.childSeatSelector" ng-init="data.childSeatSelector = 0">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                </select>
                </select>


              </li>
            </ul>
          </div>
        </div>
      </div>
<br><br>
      <h3 style="text-align: center">Summary</h3>
      <p style="text-align: center">_______________________________</p>
      
      <div style="text-align: center">
            <p>Number of Adult tickets Selected: {{data.adultSeatSelector}}
               </p>
            <p>Number of Students tickets Selected: {{data.studentSeatSelector}}
               </p>
            <p>Number of Child tickets Selected: {{data.childSeatSelector }}
               </p>
        	<p style="text-align: center">_______________________________</p>
            <h3>Total Price: </h3> 
           	<p style="font-size: 32px">£{{(data.adultSeatSelector * 15.00) + (data.studentSeatSelector * 10.00) + (data.childSeatSelector * 5.00)}}</p>
      </div>

      <p style="text-align: center">________________________________________________________________</p>

	  <div ng-init="myVar = 'src/main/webapp/app/feature/price/SeatPreview/seating.html'" style="text-align:center" ng-show="(data.adultSeatSelector + data.studentSeatSelector +data.childSeatSelector)  > 0">
        <button class="btn btn-primary"><a ng-href="{{myVar}}">Select Seats</a></button>
        <p>(Reserve your seats now!)</p>
      </div>
      <br>
      <div style="text-align: center;" class="container" ng-show="(data.adultSeatSelector + data.studentSeatSelector +data.childSeatSelector)  > 0">
      <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="FYFL8TCELA676">
        <input type="image" src="https://www.sandbox.paypal.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>    
      </div>
    
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <br><br>